[
        0,
        42,
        +42,
        -42,
        0x2A,
        0b101010,
        0o52,
        -0x2A,
        -0b101010,
        -0o52,
        42.1,
        +42.1,
        -42.1,
        .42,
        .0,
]
