#![enable(truc)] // Machin
Test(
    field: 3,
    field2: "32",
    field4: Toto,
    numbers: [
        42,
    ],
    field6: {
        "A": "b",
        "a": "c",
    },
    field6: /*Truc*/Truc(
        "a",
    )
)
