#![enable(truc)] // Machin
Test(
    field: 3,
    field2: "32",
    field4: Toto,
    numbers: [
        42,
        042,
        42.1,
        +42.1,
        -42.1,
        0x2A,
        0b101010,
        0o52,
    ],
    field6: {
        "A": "b",
        "a": "c",
    },
    field6: /*Truc*/Truc(
        "a",
    )
)
